body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: gold;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Carousel */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

 .carousel {
  position: relative;
  width: 100%;
  max-height: 500px;
}

/* .slide {
  width: 100%;
  height: 500px;
  object-fit: contain;
  background: #000;
  display: none;
} */

.slide {
  width: 100%;
  height: auto;
  max-height: 600px;
  display: none;
} 









.slide.active {
  display: block;
  animation: fade 0.8s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

/* Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
  background: black;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dots span {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background: white;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.dots span.active-dot {
  background: gold;
  opacity: 1;
}

/* Content */
.content {
  padding: 40px;
  text-align: center;
}

.about-img {
  width: 300px;
  margin: 15px;
  border-radius: 10px;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}


/*Dashboard Annoucement */

.announcement-bar {
  width: 100%;
  background: #ff9800;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.announcement-text {
  display: inline-block;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .announcement-text {
    font-size: 14px;
  }
}




/* Mobile */
@media (max-width: 768px) {
  .slide {
    height: 250px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }
}


